* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    height: 90vh;
    width: 100%;
    background-image: url('../../../assets/section.png');
    background-size:cover;

}

.hero-content {
    height: 90vh;
    width: 40%;
    display: flex;
    justify-content:center;
    align-items: flex-start;
    flex-direction: column;
    gap:20px;
    padding-left:150px;
}

.hero-content h1 {
    width: 500px;
    font-size: 60px;
    line-height: 70px;
}

.hero-content h1 span {
    color: red;
}

.hero-content p {
    width: 500px;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
}

.hero-icon {
    width: 660px;
    height:60px;
    background-color: white;
    border-radius: 200px;
    display: flex;
    justify-content: space-around;
    gap:75px;
    padding-right: 6px;
   
}

.hero-icon .h1{
    width:150px;
    height:50px;
   display: flex;
   gap:2px;
   padding:5px 10px;
}
.h1 .circle1{
    width:50px;
    height:50px;
    border: 1px solid #F0EFEF;
    border-radius: 50px;
}
.h2{
    width:50px;
    display: flex;
    flex-direction: column;
    gap:2px;

}
.h2 p, .p2{
    height:20px;
    width:150px;
    font-size:13px;
    font-weight: 500;
    color: black;
}

.h2 .p1{
    height:20px;
    width:150px;
    font-size:12px;
    font-weight: 400;
    color: #757575 ;

}

.circle2{
    width:50px;
    height:50px;
    border: 1px solid orangered;
    background-color: orangered;
    border-radius: 50px;

}
@media(max-width:1500px){
    .hero-content{
        height: 60vh;
        width:100%;
        padding-left: 100px;
    }
}
@media(max-width:950px){
    .hero-content{
       background-position: right;
    }
}
@media(max-width:780px){
      .hero-content{
        padding-left:60px;
        gap:8px;
      }
      .hero-content h1{
        font-size: 50px;
      }
      .hero-content p{
        font-size: 12px;
        line-height: 15px;
      }
      .hero-icon{
        height:45px;
        width:500px;
        gap:8px;
      }
      .hero-icon .h1{
        padding:0 0;
      }
      .h1 .circle1, .circle2{
        width:40px;
        height:40px;
        border-radius: 40px;
       }
       .h1 .h2{
        width:100px;
       }
       .h2 p{
        width:100px;
        font-size: 8px;;
       }
       .h2 .p1{
        font-size: 8px;;
       }

}
@media(max-width:610px){
    .hero-content{
        padding:0 30px;
        gap:8px;
      }
}
@media(max-width:550px){
    
    .hero-content{
        height:60vh;
        padding:0 20px;
        gap:10px;
      }
     
      .hero-content h1{
        width:350px;
        font-size: 30px;
        line-height: 35px;
      }
      .hero-content p{
        width:350px;
        font-size: 12px;
        line-height: 15px;
      }
      .hero-icon{
        width:350px;
        height:30px;
        gap:2px;
      }
      .hero-icon .h1{
        padding:0 0;
      }
      .h1 .circle1, .circle2{
        width:25px;
        height:25px;
        border-radius: 25px;
       }
       .h1 .h2{
        width:75px;
        height:29px;
        gap:0px;
       }
       .h2 p{
        width:80px;
        font-size: 6px;;
       }
       .h2 .p1{
        width:80px;
        height:20px;
        font-size: 6px;;
       }

}
@media(max-width:400px){
    .hero{
        background-position: right;
    }
}
   
