* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 10vh;
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fef7f4;
    padding:0 100px;
   
}

nav p {
    color: #757575;

}

nav .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

}
.menu a{
    width:100px;
    
}


.menu a:hover{
    height:40px;
    width:100px;
    text-align: center;
    background-color: orangered;
    color:white;
    border-radius: 50px;
    padding: 10px 0;
    transition: all 0.8s ease-in-out;
}

nav .menu a {
    color: black;
    text-decoration: none;
}

nav .hamburger {
    display: none;
}
@media(max-width:1400px){
    nav{
         padding: 0 100px;
    }
}
@media(max-width:1300px){
    nav{
        padding: 0 70px;
   }
}
@media(max-width:1250px) {
    nav .hamburger {
        display: block;
    }

    .menu {
        width: 100%;
        position: absolute;
        height: 50vh;
        top: 10vh;
        left: -100%;
        flex-direction: column;
        gap: 30px;
        background-color: #fef7f4;
    }
    .active{
        left:400px;
    }
    .active a :hover{
        height:40px;
        width:100px;
        border-bottom: 2px solid orangered;
        padding: 10px 0;
        transition: all 0.8s ease-in-out;
    }
}

@media (max-width: 610px) {
    nav p {
        display: none;
    }
    .menu{
        gap:20px;
    }
    .active{
        left:300px;
    }

}
@media(max-width:500px){
    .active{
        left:200px;
    }
}
@media (max-width: 350px) {
   
    .menu{
        gap:10px;
    }
    .active{
        left:180px;
    }
}
